<p>my-nest works!</p>
<div class="row">
  <div class="col-4">
    <div class="listConversations">
      <div *ngFor="let conv of conversations" class="card cardHover" (click)="loadConversation()">
        <div class="row g-0">
          <div class="col-sm-4 center">
            <img src="{{conv.lastMessage?.profilePic}}"
            class="img-fluid rounded-circle" alt="...">
          </div>
          <div class="col-sm-8">
            <div class="d-block">
              <span class="align-self-end">{{conv.lastMessage?.userName}}</span>
              <div>{{conv.lastMessage?.body | slice:0:15}}...</div>
              <div class="text-muted align-self-end">{{conv.lastRead | date:'medium'}}</div>
              <!-- <h5>Card title</h5>
                <p class="card-text">This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="containerConversations">
      <pre>
        {{ this.conversations | json }}
      </pre>
    </div>
  </div>
</div>
