<p>my-nest works!</p>
<div class="row">
  <div class="col-4">
    <div class="listConversations">
      <div *ngFor="let conv of conversations" class="card cardHover" (click)="loadConversation(conv.id)">
        <div class="row g-0">
          <div class="col-sm-4 center">
            <img src="{{conv.lastMessage?.profilePic}}" class="img-fluid rounded-circle" alt="...">
          </div>
          <div class="col-sm-8">
            <div class="d-block">
              <span class="align-self-end">{{conv.lastMessage?.userName}}</span>
              <div>id: {{conv.id}}</div>
              <div>{{conv.lastMessage?.body | slice:0:15}}...</div>
              <div class="text-muted align-self-end">{{conv.lastRead | date:'medium'}}</div>
              <!-- <h5>Card title</h5>
                <p class="card-text">This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-8">
    <div class="containerConversations">
      <!-- <div *ngIf="conversationActive">
        <pre>
          {{ this.conversations | json }}
        </pre>
      </div> -->
      <div #divDisplayConversation  [scrollTop]="divDisplayConversation.scrollHeight" *ngIf="conversationActive" class="h-100">
        <div *ngFor="let message of conversation.messages" class="d-inline">
          <div class="messageBoxDefault" [ngClass]="{'messageBoxEmiter':message.owner ,'messageBoxReciber': !message.owner}">
            <p>{{message.message}}</p>
            <div class="divInfoBubbleChat">
              <span class="smallDate">{{ message.createdAt | date:'dd/MM/yy, h:mm a' }}</span>
              <i [ngClass]="{'bi bi-check info':message.read ,'bi bi-check-all primary': !message.read}" class=""></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="conversationActive" class="newMessageBox" >
      <form [formGroup]="formNewText" >
      <div class="input-group mb-3" >
          <input type="text" class="form-control" formControlName="newText"
          placeholder="Say Hi!"
          aria-label="Say Hi!" aria-describedby="button-send">
          <button type="button" class="btn btn-primary" name="newText" value="Send"
          id="button-send"
          (click)="sendNewMessage()">
          Send
        </button>
        </div>
      </form>
    </div>
  </div>
