.listConversations {
  /* width: 30%; */
  background-color: #ffffff;
  padding-right: 5px;
}

.containerConversations{
  margin: 2px;
  background-color: aqua;
}

.textLastUpdate{
  font-size: smaller;
  bottom: 0;
}
.cardHover:hover {
  background-color: rgb(137, 83, 230);
  font-style: oblique;
  border-color: royalblue;
  border-width: 5px;
  opacity: 50%;
  padding: 10px;
  }
