<p>home works!</p>
<div>
  <!-- <div id="carouselExampleIndicators" class="carousel slide h-50">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item h-50 active">
        <img src="https://storedatanekoedg.blob.core.windows.net/public-container/img200x200.png"
          class="rounded"
          alt="...">
      </div>
      <div class="carousel-item h-50">
        <img src="https://storedatanekoedg.blob.core.windows.net/public-container/img200x200.png"
          class="rounded"
          alt="...">
      </div>
      <div class="carousel-item h-50">
        <img src="https://storedatanekoedg.blob.core.windows.net/public-container/nekoedg_a_fliying_swallow_minimal_a5cde8ad-3f37-404c-a6c5-7831effd55b9.png"
          class="rounded"
          alt="...">
      </div>
      <div class="carousel-item h-50">
        <img src="https://storedatanekoedg.blob.core.windows.net/public-container/7d626fb5-ec18-4f3a-a9fb-58e53dd479dd%20(1).png"
          class="rounded"
          alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->
</div>
