/* .innerBody{
  position: relative;
  height: 100vh;
} */

.mainContainer{
  /* background-color: #4169e1; */
  margin: 0% 15% 0%;
  padding: 0%;
  border-style: solid;
  border-color: #000000;
  width: auto;
  padding-bottom: 1em;
}
.customFooter{
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  color: #ffffff;
  background-color: royalblue;
  position: absolute;
  bottom: 0;
  width: 100%;
}
